@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Slab:wght@400;500&family=Roboto:wght@400;500;700&family=Sarala:wght@400;700&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

.icons{ 
width: 11%;
margin-right: 150px;  
}

#github {
    margin-right: 175px;
}

#linkedin {
    margin-right: 163px;
}

body {
    background: #EDF2FF;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

img {
    width: 100%;
}

img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: rgb(210, 202, 202) solid 4px;
  transition: 400ms;
}

img#qrcode{
  border-radius: 10%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: rgb(210, 202, 202) solid 4px;
  transition: 400ms;
}

h1 {
    font-size: 32px;
    color: #00082F;
    margin-top: 24px;
    margin-bottom: 8px;
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #00082F;
    opacity: 0.8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9c4343;
    /* hex: 0 - F */
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

/* pseudo-class */
ul li a:hover {
    background: #562a2a;
}

footer {
    font-weight: 500;
    font-size: 12px;
    color: #00082F;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: #00082F;
}
